@import "_variables";

.cards-container {
    position: absolute;
    top: 60px;
    right: 0;
    width: 75%;
    margin: auto;

    .header {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        padding: 10px 0 0 5px;
    }
}

.cards-body {
    @include flex;
    @include justify-start;
    flex-wrap: wrap;
    gap: 10px;
    border: 3px solid red;
    
    .card {
        width: 22%;
        background-color: $light;
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        @include flex;
        flex-direction: column;
        gap: 1px;
        height: 130px;
        // padding: 20px;

        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: map-get($map: $font-sizes, $key: "normal");
        line-height: map-get($map: $font-sizes, $key: "mid");
        text-transform: uppercase;
        color: #545F7D;

        .number {
            font-size: 24px;
            font-weight: 600;
            line-height: 28px;
            color: $text-primary;
        }
    }
}

@media(max-width:"565px"){
    .cards-container {
        position: absolute;
        left: 0;
        right: 0;
        width: 80%;
    .cards-body{
        flex-direction: column;
        .card{
            width: 100%;
            align-items: center;
            box-sizing: border-box;
            margin-left: 0;
        }
    }

}
}


@media(max-width:"1111px"){
    .cards-body{
        padding: 0px;
        .card{
            height: 190px;
            flex-wrap: wrap;
            gap: 5px;
        }
    }
}

@media(max-width:"670px"){
    .cards-body{ 
        padding: 0px;
        justify-content: flex-start; 
        .card{
            width: 45%;
        }
    }
}

